{% extends "base.html" %}

{% block pagescripts %}
    {% load staticfiles %}
    <script type="text/javascript" src="{% static "logbook/js/main.js" %}"></script>
{% endblock %}

{% block title %}<h1>Logbook</h1><p class="lead">...for the digital age</p>{% endblock %}

{% block content %}
<div id="recent-jumps" class="well pull-right">
    {% if jumps|length > 0 %}
        <h2 class="text-warning">Recent Jumps</h2>
        <ul>
        {% for jump in jumps %}
            <li>Jump #{{ jump.number }} at {{ jump.location }} from {{ jump.exit_altitude }} thousand feet on {{ jump.date }}</li>
        {% endfor %}
        </ul>
    {% endif %}
</div>
<div>
    <form class="jump-entry" action="{% url 'logbook:jumps' %}" method="post">
        {% csrf_token %}
        {{ JumpForm.as_p }}
        <input type="submit" class="btn btn-info" value="Save" />
    </form>
</div>
{% endblock %}
