{% extends "base.html" %}

{% block content %}
    {% for jump in jumps %}
    <div class="bs-component">
    <div class="log-entry modal">
    <div class="modal-dialog">
    <div class="modal-content">
    <div class="modal-header">
        {{ jump.date }}
    </div>
    <table class="log-entry">
        <thead>
            <th>Jump #</th>
            <th>Date</th>
            <th>Exit Altitude</th>
            <th>Location</th>
            <th>Aircraft</th>
            <th>Equipment</th>
            <th>Freefall Time</th>
        </thead>
        <tbody>
        <tr>
            <td>{{ jump.number }}</td>
            <td>{{ jump.date|date:"m/d/Y" }}</td>
            <td>{{ jump.exit_altitude }}</td>
            <td>{{ jump.location }}</td>
            <td>{{ jump.aircraft }}</td>
            <td><ul><li>{{ jump.equipment }}</li><li>{{ jump.equipment.main_canopy }}</li><li>{{ jump.equipment.reserve }}</li></td>
            <td>{{ jump.freefall_time }}</td>
        </tr>
        <tr>
            <th colspan="7" class="notes">Notes</th>
        </tr>
        <tr>
            <td colspan="7" class="notes">{{ jump.notes }}</td>
        </tr>
        </tbody>
    </table>
    <div class="modal-footer">
        <button type="button" disabled class="btn btn-danger">Not Signed</button>
    </div>
    </div>
    </div>
    </div>
    </div>
    {% endfor %}
{% endblock %}
